# Dependency directories
node_modules

# Build output
.cache/
build/
public/build/

# IDE settings
.idea/

# Serverless & deployment folders
.functions/
.netlify/
.wrangler/

# Optional: OS-specific
.DS_Store
